
body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body {
  height: 100%;
  font-family: 'Helvetica';
  color: white;
  background-color: #f85032ff;
}

span {
  color: #000;
}

.center-text {
  text-align: center;
}

.heading {
  padding-top: 300px;
  font-size: 100px;
}


